IDE / Editor files
.idea/
workspace.xml

Editor-based HTTP Client requests
httpRequests/

Datasource local storage
dataSources/
dataSources.local.xml

Python cache
pycache/
*.pyc
*.pyo

Project-specific folders
shelf/
.venv/
.env
.env.development
.env.production

CoreEngine/data/refresh_store.json
CoreEngine/data/user_list.json

Dockerfile
Dockerfile*